@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow: inset $top $left $blur $color;
    -moz-box-shadow: inset $top $left $blur $color;
    box-shadow: inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

$black: rgba(0, 0, 0, 1);
$black-03: rgba(0, 0, 0, 0.3);
$black-05: rgba(0, 0, 0, 0.5);
$black-07: rgba(0, 0, 0, 0.7);

$white: rgba(255, 255, 255, 1);
$white-03: rgba(255, 255, 255, 0.3);
$white-05: rgba(255, 255, 255, 0.5);
$white-07: rgba(255, 255, 255, 0.7);

.counters {
  .ant-affix {
    .counters-navbar {
      @include box-shadow(0, 0, 0.25rem, $black-03);
      background: $white-07;
    }
  }
  &__total {
    font-weight: 500;
  }
  &-navbar {
    padding: 1rem;
    background: $white;
    margin-bottom: 2rem;
    &__title {
      margin-bottom: 0 !important;
    }
    &__reset {
      text-align: right;
    }
  }
  &__item {
    margin-bottom: 1rem;
  }
}
